*{
    font-family: 'Times New Roman', Times, serif;
}

body{
    display:flex;
    flex:1;
    flex-direction:column;
    margin:0;

}
ul {
    list-style-type: none;
    text-decoration: none;
}

img {
    max-width:410px;
    max-height:200px;
}

 /* HEADER STYLING */
.header {
    display:flex;
    justify-content:space-around;
    padding:5px;
    background-color: #1f2937;
}
.topleft {
    display:flex;
    justify-content:center;
    padding:5px;
    color:#F9FAF8;
    font-size:24px;
    font-weight:bolder;

}
.right-links{
    display:flex;
    justify-content:center;
    padding:5px;
    color:#E5E7EB;
    gap:5rem;
    align-items:center;
}
/*  HERO */
.hero {
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
    background-color: #1f2937;
    gap:2rem;
}
.hero-left {
    display:flex;
    flex-direction:column;
}
.awesome {
    font-size: 48px;
    font-weight:bolder;
    color:#F9FAF8;
    margin:0;
    margin-bottom:5px;
}
.subtext{
    font-size:18px;
    color:#E5E7EB;
    margin-bottom:45px;
}

button {
    border-radius:10px;
}
.signup {
    display:flex;
    align-self:flex-start;
    width:75px;
    height:45px;
    border-color:#E5E7EB;
    background-color:#3882F6;
    font-size:large;
}
.buttontext {
    display:flex;
    align-self:center;
    color:#F9FAF8;
}



.heroimage-right {
    display:flex;
    flex-direction:column;
    width:400px;
    height:200px;
    padding:5px;
    border:solid #30445f;
    object-fit:cover;
    border-width:5px;
}


/* MIDDLE */
.middle-title {
    display:flex;
    justify-content:center;
    margin-top:5px;
    font-size:36px;
    font-weight:bolder;
    color:#1f2937;
}

.middle-contents {
    display:flex;
    margin:16px;
    justify-content:center;
    gap:9rem;
    text-align:center;
}
.square {
    object-fit:cover;
    width:300px;
    height:200px;
    border:solid #3882F6;
    border-width: 3px;
    border-radius:5px;
}
/* GREY AREA */
.grey-area {
    display:flex;
    flex-direction:column;
    margin-top:25px;
    padding:70px;
    justify-content:center;
    align-items:center;
    background-color:#E5E7EB;
}
.quote-text {
    font-size:36px;
    font-weight:lighter;
    font-style:italic;
    color:#1f2937
}
.quote-author {
    align-self:flex-end;
    
}

/* SIGN UP SECTION */
.signup-section {
    display:flex; 
    background-color:#F9FAF8;
    padding:60px;
    justify-content:center;
    align-items:center;
}
.blue-signup {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10rem;
    width:950px;
    height:120px;
    background-color: #3882F6;
    color:#F9FAF8;
    font-weight:bold;
    font-size:18px;
    border-radius:5px;
    border:solid 4px;
    border-color:#2e65bd
}








/* FOOTER */
.footer {
    display:flex;
    justify-content:center;
    padding:10px;
    background-color: #1f2937;
    color:#F9FAF8;
   
}